body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}


#logo {
    /*font*/
     font-family: 'Hind', sans-serif;
     font-size: 30px;
     letter-spacing: -2px;
     text-shadow: 1px 1px 2px #c4c4c4;
   /*box*/
     padding-left: 20px;
     padding-right: 40px;
     margin-right: 10px;
     margin-top: -20px;
     display:inline-block;
     } 

nav a {
    display: block;
    float:center;
    overflow: hidden;
/*We're just setting up fonts settings here*/
    font-family: sans-serif;
    font-size: 9px;
    color: white;
/*Box Method Test AKA handicap*/
    background-color: #17b0cf;
    border: 1px solid #000;
   
   /*Padding Our Box*/
   
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-decoration:aqua;
}
a:hover {
    color: rgb(223, 9, 176);
  }
  h2 {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
}


    ul {
        list-style-type: none;
        position: fixed;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      
      li {
        float: left;
        border-right:1px solid #bbb;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li:last-child {
        border-right: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .active {
        background-color: #4CAF50;
      }
              /* Style the element with the id "myHeader" */
              #myHeader {
                background-color: rgb(59, 224, 216);
                color: white;
                padding: 40px;
                text-align: center;
              }
              
              /* Style all elements with the class name "city" */
              #city {
               
                color: black;
                padding: 20px;
                text-align: center;
              } 
              #aboutMe {
                
                color: black;
                padding: 20px;
                text-align: center;
              } 
              #myLogo {
                font-style: italic;
                color: rgb(38, 0, 255);
                padding: 50px;
                text-align: center;
              } 
              
